# ML Bootcamp 2021 - Week 1: Assignment

- Please Read the Instructions very very carefully.
- Name the variables exactly as is mentioned in the comments
- Failure to do so would result in the grader marking the values wrongly
- If the comment asks you to name the variable 'a' then name it 'a' and not 'A'

## Q1. Create a list of integers starting from 1 to 100,000 where each number is squared.

In [ ]:
# Write your code below the comments in this cell
# Important
# Save you list in a variable called 'squared_integers'
# Example: squared_integers = [1, 4, 9, 16, 25, 36,....., 100000000]

## Q2. Create a function to print the maximum of two given values

In [ ]:
# Write your code below the comments in this cell
# Important
# The name of the function should be max_two_numbers
# The function SHOULD ONLY return EXACTLY 1 value which is the maximum of the two numbers

## Q3. How many columns and rows are there in the test dataset?

In [ ]:
# Write your code below the comments in this cell
# Important
# Save your row value in a variable called 'row'
# Save your columns value in a variable called 'col'

## Q4. What is the youngest and oldest Age recorded on the ship?

In [ ]:
# Write your code below the comments in this cell
# Important
# Save your youngest Age value in a variable called 'age_youngest'
# Save your oldest Age value in a variable called 'age_oldest'

## Q5. What are the proportions of male and female passengers?

In [ ]:
# Write your code below the comments in this cell
# Important
# Save the integer number for female passengers in a variable called 'female_count'
# Save the integer number for male passengers in a variable called 'male_count'

## Q6. What is the average ticket price per Passenger Ticket Class(Pclass)?

In [ ]:
# Write your code below the comments in this cell
# Important
# Save the value for each ticket class as a variable called "p_classnumber_avg_fare" (Eg: p_1_avg_fare)

## Q7. Explore the 'Names' feature and find out how many titles are present? A title stands for 'Mr', 'Miss', 'Dr' etc. appended before any person's name. 
- Hint: Check the "Strings" part of the tutorial notebook

In [ ]:
# Write your code below the comments in this cell
# Important
# Your output should be a dictionary called 'title_count'
# Each key of the dictionary is the name of the title as is, Eg: Mr, Miss, Mrs, etc.
# Value of each key is the number of times that that particular title has occurred
# Example output
# {'Mr':5,'Capt':20,'Miss':12 and so on}